name: Build and Push kbs Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_push:
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        instance:
          - ubuntu-latest
        platforms:
          - linux/amd64,linux/s390x
        tag:
          - kbs
          - kbs-grpc-as
        include:
          - tag: kbs
            docker_file: kbs/docker/Dockerfile
            https_crypto: openssl
            name: build-in AS
          - tag: kbs-grpc-as
            docker_file: kbs/docker/Dockerfile.coco-as-grpc
            https_crypto: rustls
            name: gRPC AS
    runs-on: ${{ matrix.instance }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GHCR Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Container Image KBS (${{ matrix.name }})
      run: |
        commit_sha=${{ github.sha }}
        https_crypto=${{ matrix.https_crypto }}
        docker buildx build -f ${{ matrix.docker_file }} --push \
          --platform ${{ matrix.platforms }} \
          -t ghcr.io/confidential-containers/staged-images/${{ matrix.tag }}:${commit_sha} \
          -t ghcr.io/confidential-containers/staged-images/${{ matrix.tag }}:latest \
          --build-arg HTTPS_CRYPTO=${https_crypto} .
